<!DOCTYPE html>
<head>
    <title>Flask Steam Game Database</title>
</head>

<li><a href="/classifierIndex">Phase 2: Classifier</a></li>
<li><a href="/recommend">Phase 3: Recommender</a></li>
<h2>Flask Steam Game Database</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>