<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Flask Steam Game Database</title>
</head>

<li><a href="/">Phase 1: Search</a></li>
<li><a href="/classifierIndex">Phase 2: Classifier</a></li>
<h2>Flask Steam Game Database</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

Past 3 Searches
{% for query in searchQueryHistory %}
    <li>{{ query.query }}</li>
{% endfor %}
<br> </br>

<table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Metacritic</th>
      <th>Recommendation Count</th>
      <th>Initial Price</th>
      <th>Description</th>
      <th>Genres</th>
      <th>Score</th>
  </tr>
    {% for game in table %}
    <tr id="{{ game.id }}">
        <th scope="row">{{ game.QueryName }}</th>
        <td>{{ game.ReleaseDate }}</td>
        <td>{{ game.Metacritic }}</td>
        <td>{{ game.RecommendationCount }}</td>
        <td>${{ game.PriceInitial }}</td>
        <td>{{ game.AboutText }}</td>
        <td>{{ game.GenreList }}</td>
        <td>{{ game.tfidfScore }}</td>
    </tr>
    {% endfor %}
</table>
